
  
  .tooltip-1 {
    margin-top: 140px;
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-2{
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-left: 250px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-3 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-left: -250px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-4 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 500px;
    height: auto;
    margin-left: -300px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-5 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 600px;
    margin-left: -600px;
    height: auto;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-6 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-left: -250px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-7 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-left: -250px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-8 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-left: -250px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-9{
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-left: -250px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }

  .tooltip-10 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-top: 170px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }

  .tooltip-11 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #ffdb0f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    margin-top: 170px;
    padding: 8px;
    color: #ac0039;
    font-size: 11px;
    overflow: hidden;
    z-index: 1;
  }
  .tooltip-1,
  .tooltip-2,
  .tooltip-3,
  .tooltip-4,
  .tooltip-5,
  .tooltip-6,
  .tooltip-7,
  .tooltip-8,
  .tooltip-9,
  .tooltip-10,
  .tooltip-11{
    top: 0%;
    left: 50%;
    width: 200px;
  }
  .tooltip-container:hover .tooltip-1 {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-2:hover .tooltip-2 {
    left: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-3:hover .tooltip-3 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-4:hover .tooltip-4 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-5:hover .tooltip-5 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-6:hover .tooltip-6 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-7:hover .tooltip-7 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-8:hover .tooltip-8 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-9:hover .tooltip-9 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-10:hover .tooltip-10 {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tooltip-container-11:hover .tooltip-11 {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }